<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INOFA TASK - User Signup</title>
</head>

<body>
    <h1>Welcome!</h1>
    <form action="/submit" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Enter your name" required>
        <br>
        <label for="surname">Surname</label>
        <input type="text" name="surname" id="surname" placeholder="Enter your surname" required>
        <br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter your email" required>
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password" required>
        <br>
        <button type="submit">Signup</button>
    </form>
</body>

</html>